---
layout: page
title: Archive
permalink: /archive/
---

{% comment %}
  Archive format lovingly ripped from Harry Roberts https://csswizardry.com/
{% endcomment %}

{% for post in site.posts %}
  {% assign currentDate = post.date | date: "%Y" %}
  {% if currentDate != myDate %}
    {% unless forloop.first %}</ol>{% endunless %}
    <h3>{{ currentDate }}</h3>
    <ol reversed>
    {% assign myDate = currentDate %}
  {% endif %}
    <li style="margin-bottom:1.5em;">
      <article class="c-post">
        <h2 style="margin-bottom:0;">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <small>{{ post.date | date: "%b %-d, %Y" }}</small>
        {{ post.excerpt }}
      </article>
    </li>
  {% if forloop.last %}</ol>{% endif %}
{% endfor %}
