---
layout: page.njk
title: 👋 Hi, I'm Bobby.
---
<div class="homepage">
	<aside class="flow">
		<img src="https://assets.codepen.io/55867/bshow.jpg" />
	</aside>
	<div class="latest-post flow">
		<h2>About Me</h2>
		<p>I’m a <a href="#">Senior UX Designer / Developer</a> at <a
		href="#">Dun & Bradstreet</a> and father of the <a
		href="#">Showalter family</a>.</p>
		<h2>Latest Blog Post</h2>
		{% set allPosts = collections.post | reverse %}
		<h3><a href="{{ allPosts[0].url }}">{{ allPosts[0].data.title }}</a></h3>
		<p>I&rsquo;ve written a lot of CSS over the past six years.
		Here&rsquo;s the opinionated result of all that experience. Maybe some
		day, after I&rsquo;ve written even more CSS and changed my mind again,
		we&rsquo;ll revisit this post and have a hearty laugh at how naive I
		was.</p>
	</div>
</div>
