---
layout: page.njk
title: Work
---
<div class="flow">

	<h2>Career</h2>

	{% renderFile "./_includes/work/dnb.md" %}
	{% renderFile "./_includes/work/icf.md" %}
	{% renderFile "./_includes/work/revalize.md" %}

	<h2>Personal</h2>

	{% renderFile "./_includes/work/pokedex.md" %}

</div>
