<footer class="o-main-container c-footer">

  <div class="c-footer__column">
    <p>&copy; {{ 'now' | date: '%Y' }} &ndash; Bobby Showalter</p>
    <p>{{ site.description | escape }}</p>
  </div>

  <div class="c-footer__column c-icon-bar">
    {% if site.codepen_username %}
      {% include icon-link.html icon='codepen' domain='.io' username=site.codepen_username %}
    {% endif %}

    {% if site.github_username %}
      {% include icon-link.html icon='github' username=site.github_username %}
    {% endif %}

    {% if site.instagram_username %}
      {% include icon-link.html icon='instagram' username=site.instagram_username %}
    {% endif %}

    {% if site.twitter_username %}
      {% include icon-link.html icon='twitter' username=site.twitter_username %}
    {% endif %}

    <a class="c-icon__link" href="{{ "/feed.xml" | relative_url }}">
      <svg class="c-icon c-icon--rss">
        <use xlink:href="/symbol-defs.svg#c-icon--rss"></use>
      </svg>
    </a>
  </div>

</footer>
