<head>
	<meta charset="UTF-8" />
	<title>Bobby Showalter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/assets/styles/redesign.css" />
	<link rel="stylesheet" href="/assets/styles/syntax.css" />
</head>
