<header class="container" id="page_header">
	<nav id="page_nav">
		<span id="wordmark">Bobby Showalter</span>
		<ul role="list">
			<li><a href="/">Home</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/work/">Work</a></li>
			<li><a href="/slash/">Slash</a></li>
		</ul>
	</nav>
</header>
