/* archivo-regular - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Regular'), local('Archivo-Regular'),
       url('fonts/archivo-v6-latin-regular.woff2') format('woff2'),
       url('fonts/archivo-v6-latin-regular.woff') format('woff');
}

/* archivo-black-regular - latin */
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'),
       url('fonts/archivo-black-v9-latin-regular.woff2') format('woff2'),
       url('fonts/archivo-black-v9-latin-regular.woff') format('woff');
}
