:root {

  /* ## Colors */
  --c-brand: #00ffb0;
  --c-brand-hover: #b0ff00;
  --c-text-body: #404a80;
  --c-text-headings: #5f6caf;
  --c-link-default: #5f6caf;
  --c-link-hover: var(--c-link-default);
  --c-link-active: var(--c-text-body);
  --c-link-visited: var(--c-link-default);

  /* ## Fonts */
  --f-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --f-body: 'Archivo';
  --f-header: 'Archivo Black';
}
