body[data-ui-theme="autumn"] {
  /* ## Colors */
  --c-1--hex: #fbdcc4;
  --c-1--rgb: 251, 220, 196;
  --c-2--hex: #6b2560;
  --c-2--rgb: 107, 37, 96;
  --c-3--hex: #7d0633;
  --c-3--rgb: 125, 6, 51;
  --c-4--hex: #f2a07b;
  --c-4--rgb: 242, 160, 123;
  --c-5--hex: #31112c;
  --c-5--rgb: 49, 17, 44;

  /* ## Theme */
  --c-theme-primary--hex: var(--c-2--hex);
  --c-theme-primary--rgb: var(--c-2--rgb);
  --c-theme-secondary--hex: var(--c-1--hex);
  --c-theme-secondary--rgb: var(--c-1--rgb);
  --c-theme-accent-1--hex: var(--c-3--hex);
  --c-theme-accent-1--rgb: var(--c-3--rgb);
  --c-theme-accent-2--hex: var(--c-2--hex);
  --c-theme-accent-2--rgb: var(--c-2--rgb);
  --c-theme-accent-3--hex: var(--c-5--hex);
  --c-theme-accent-3--rgb: var(--c-5--rgb);

  /* ## Applied */
  --c-body-background: var(--c-theme-secondary--hex);
  --c-text-body: var(--c-theme-accent-3--hex);
  --c-text-headings: var(--c-theme-primary--hex);
  --c-link-default: var(--c-theme-primary--hex);
  --c-link-hover: var(--c-link-default);
  --c-link-active: var(--c-text-body);
  --c-link-visited: var(--c-link-default);
}

/* ## Applied, dark mode */
@media (prefers-color-scheme: dark) {
  body[data-ui-theme="autumn"] {
    --c-body-background: var(--c-theme-accent-3--hex);
    --c-text-body: var(--c-theme-secondary--hex);
    --c-text-headings: var(--c-4--hex);
    --c-link-default: var(--c-4--hex);
  }
}
