.c-footer__wrapper {
  border-top: 1px solid var(--c-text-body);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.c-footer__column:first-child {
  margin-right: auto;
}
