.s-page .page-content > .c-portfolio-feature {
  columns: 2 20rem;
  column-gap: 2rem;
  grid-column: full;
}

.c-portfolio-feature > * {
  break-inside: avoid;
  page-break-inside: avoid;
}

.c-portfolio-feature > * + * {
  margin-top: 1em;
}

.c-portfolio-feature > * > *:first-child {
  margin-top: 0;
}

.c-portfolio-feature > * > *:last-child {
  margin-bottom: 0;
}