.c-site-nav {
  display: flex;
  justify-content: space-between;
}

.c-site-title {
  backface-visibility: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  transition: text-shadow 150ms ease-out, transform 150ms ease-out;
}

.c-site-title:hover {
  color: var(--c-text-headings);
  text-decoration: none;
  text-shadow:
    4px 4px 0 var(--c-brand),
    -4px -4px 0 var(--c-brand-hover);
  transform: rotate(-2.5deg) scale(1.125);
  transform-style: preserve-3d;
}

.c-site-title:visited {
  color: var(--c-text-headings);
}

.c-site-nav__list {
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding-left: 2.25rem;
}

.c-site-nav__item + .c-site-nav__item {
  margin-left: 1rem;
}

.c-site-nav__link {
  color: var(--c-text-body);
}
