.c-site-nav {
  border-bottom: 1px solid var(--c-text-body);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.c-site-title {
  display: inline-block;
  font-family: var(--f-header),var(--f-system);
  font-size: 1.125rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.c-site-nav__list {
  display: flex;
  list-style: none;
  margin: 0 0 1rem;
  padding-left: 0;
}

.c-site-nav__item + .c-site-nav__item {
  margin-left: 1rem;
}

.c-site-nav__link {
  color: var(--c-text-body);
}
