.c-site-nav {
  border-bottom: 1px solid var(--c-text-body);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.c-site-title {
  font-size: 1.5rem;
}

.c-site-title:visited {
  color: var(--c-text-headings);
}

.c-site-nav__list {
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding-left: 2.25rem;
}

.c-site-nav__item + .c-site-nav__item {
  margin-left: 1rem;
}

.c-site-nav__link {
  color: var(--c-text-body);
}
