.c-theme-controls {
  border: 1px solid var(--c-text-body);
  border-radius: .25rem;
}

.c-theme-controls > summary {
  border-radius: .125rem;
  cursor: pointer;
  padding: .25rem .5rem;
}

.c-theme-controls > summary:hover,
.c-theme-controls[open] > summary {
  background-color: rgba(var(--c-theme-primary--rgb), .15);
}

.c-theme-controls[open] > summary {
  border-bottom: 1px solid var(--c-text-body);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.c-theme-controls > div {
  display: flex;
  flex-wrap: wrap;
}

.c-theme-controls button {
  background-color: transparent;
  border: .125rem solid var(--c-text-body);
  border-radius: .25rem;
  color: inherit;
  line-height: 1;
  margin: .5rem;
  padding: .5rem 1rem;
  text-align: center;
}

.c-theme-controls button:hover {
  background-color: rgba(var(--c-theme-primary--rgb), .15);
}

.c-theme-controls button[disabled] {
  background-color: var(--c-text-body);
  border-color: var(--c-text-body);
  color: var(--c-body-background);
  cursor: not-allowed;
}

.c-theme-controls button::before {
  content: '\2610';
  font-size: 1.5em;
}

.c-theme-controls button[disabled]::before {
  content: '\2611';
}
