<!DOCTYPE html>
<html>
	{% include 'head.njk' %}

	<body class="flow">

		{% include 'nav.njk' %}

		<main class="container">

			{{ content | safe }}

		</main>

		{% include 'footer.njk' %}

	</body>

</html>
