---
layout: default
---

<div class="c-homepage-intro">
  <div class="c-homepage-intro__greeting">
    {{ content }}
  </div>
  <div class="c-homepage-intro__picture">
    <img src="/assets/images/intro-pic.jpg" alt="">
  </div>
</div>

<div class="c-homepage-links">
  {% for post in site.posts limit:1 %}
    <a class="c-homepage-links__blog" href="{{ post.url | relative_url }}">
      <div>
        <h3>Latest Blog Post</h3>
        <p>{{ post.title | escape }}</p>
        {% comment %}
          This feels kinda gross, but I can't think of another way to accomplish it.
        {% endcomment %}

        {% capture image %}
          {{ post.image }}
        {% endcapture %}

        {% unless post.image %}
          {% assign image = "https://source.unsplash.com/collection/9248817/800x400" %}
        {% endunless %}
        <img src="{{ image }}" alt="">
      </div>
    </a>
  {% endfor %}
  <a class="c-homepage-links__portfolio" href="/portfolio/">
    <div>
      <h3>Featured Portfolio Project</h3>
      <p>The Manor at Stowers Hill</p>
      <img src="/assets/images/tmash_1x.jpg" alt="">
    </div>
  </a>
</div>
