---
layout: default
---

<article>
  <div class="has-flow is-sticky is-sticky--top">{{ content }}</div>
</article>

<div class="has-flow">
  <article class="card">
    <img src="/assets/images/bshow.jpg" alt="">
  </article>
  <article class="card has-flow">
    <p>Latest Blog Post</p>
    {% for post in site.posts limit:1 %}
      <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
      {{ post.excerpt }}
    {% endfor %}
  </article>
  <article class="card has-flow">
    <p>Featured Portfolio Project</p>
    <h2><a href="/portfolio/#the-manor-at-stowers-hill">The Manor at Stowers Hill</a></h2>
    <p>The Manor at Stowers Hill is a beautiful event venue in Harriman, TN, run
    by Lori and Chad Brown. For the design of the website, I worked with Lori
    and Chad to deliver a refined, tasteful experience that echoes the timeless
    beauty of their estate. Their clients agree&mdash;their new website has been
    fielding a consistent stream of event appointments ever since we went live
    at the beginning of February, 2020.</p>
    <img src="/assets/images/tmash_1x.jpg" alt="">
  </article>
</div>