html {
  background-color: var(--c-body-background);
  box-sizing: border-box;
  color: var(--c-text-body);
  font-family: var(--f-body);
  font-size: 18px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-text-headings);
  font-family: var(--f-header);
  font-weight: normal;
}

a {
  color: var(--c-link-default);
  transition: opacity 200ms ease-out;
}

a:visited {
  color: var(--c-link-visited);
}

a:hover {
  opacity: .8;
}

a:active {
  color: var(--c-link-active);
}

blockquote {
  border-left: .125em solid #aaa;
  color: #6a6a6a;
  margin: 1.5em 0 1.5em 2.25em;
  padding: .5em 0 .5em 1em;
}

blockquote p {
  margin: 0;
}

hr {
  background-color: var(--c-text-body);
  border: 0;
  height: 1px;
  margin: 2.25em auto;
  opacity: .25;
  width: 80%;
}

// center instagram embeds
.instagram-media {
  margin: 1em auto 0 !important;
}

ul,
ul ul {
  padding-left: 1.5rem;
}
