html {
  color: var(--c-text-body);
  font-family: var(--f-body);
  font-size: clamp(16px, 1.5vw, 20px);
}

body {
  background-color: var(--c-background-body);
}

main {
  margin: 0 auto;
  max-width: var(--default-width);
  padding: var(--default-spacing);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--f-header);
}

a {
  color: var(--c-link-default);
  text-decoration-color: transparent;
  transition:
    opacity 150ms ease-out,
    text-decoration-color 150ms ease-out;
}

a:hover,
a:focus {
  opacity: .85;
  text-decoration-color: currentColor;
}

blockquote {
  border-left: .125em solid currentColor;
  margin: 1.5em 0 1.5em 2.25em;
  opacity: .85;
  padding: .5em 0 .5em 1em;
}

blockquote p {
  margin: 0;
}

hr {
  background-color: var(--c-divider);
  border: 0;
  height: .063em;
  margin: 2em 0;
}

figcaption {
  font-style: italic;
}

figcaption a {
  font-style: normal;
}

// center instagram embeds
.instagram-media {
  margin: 1em auto 0 !important;
}

// generic class to maintain rhythm of flow content
.has-flow > * + * {
  margin-top: 1em;
}

.has-flow > * + :is(h2, h3, h4) {
  margin-top: calc(var(--default-spacing) * 2);
}

.has-flow > :is(h2, h3, h4) + * {
  margin-top: 0.25em;
}

.is-sticky {
  position: sticky;
}

.is-sticky.is-sticky--top {
  top: 0;
}